<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch">
  <mat-card fxFlex.gt-xs="45" class="mb15">
    <mat-card-header>
      <mat-card-title>
        <h3>Badge</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
      </p>

      <p>
        Button with a badge on the left
        <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
          Action
        </button>
      </p>

      <p>
        Icon with a badge
        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="45" class="mb15">
    <mat-card-header>
      <mat-card-title>
        <h3>Chips</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
        <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>


  <mat-card fxFlex.gt-xs="45" class="mb15">
    <mat-card-header>
      <mat-card-title>
        <h3>Chips with input</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="w-100">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New fruit..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="45" class="mb15">
    <mat-card-header>
      <mat-card-title>
        <h3>Chips with input</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-chips-auto-complete></app-chips-auto-complete>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="45" class="mb15">
    <mat-card-content>
      <app-spinner></app-spinner>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="45" class="mb15">
    <mat-card-content>
      <app-progress-bar></app-progress-bar>
    </mat-card-content>
  </mat-card>
</div>
