<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch">
  <mat-card fxFlex.gt-xs="33" class="mb15">
    <mat-card-content>
      <app-snack-bar></app-snack-bar>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex.gt-xs="33" class="mb15">
    <mat-card-content>
      <app-basic-snack-bar></app-basic-snack-bar>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="33" class="mb15">
    <mat-card-content>
      <app-dialog-overview></app-dialog-overview>
    </mat-card-content>
  </mat-card>
</div>