<section id="sample-table" class="mat-elevation-z8 bg-white">
  <mat-form-field class="search-form">
    <mat-label>Người thực hiện</mat-label>
    <input matInput (keyup)="applyFilter()" [(ngModel)]='userId' placeholder="Nhập tên">
  </mat-form-field>
  <mat-form-field class="search-form">
    <mat-label>Ngày bắt đầu</mat-label>
    <input matInput (keyup)="applyFilter()" [matDatepicker]="startDatePicker" [(ngModel)]='startDate'>
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="search-form">
    <mat-label>Ngày kết thúc</mat-label>
    <input matInput (keyup)="applyFilter()" [matDatepicker]="endDatePicker" [(ngModel)]='endDate'>
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
  <div>
  </div>
  <table mat-table [dataSource]="dataTable" matSort class="w-100">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Người thực hiện </th>
      <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày bắt đầu </th>
      <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="completeDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày kết thúc </th>
      <td mat-cell *matCellDef="let row"> {{row.completeDate}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa điểm </th>
      <td mat-cell *matCellDef="let row"> {{row.location}} </td>
    </ng-container>

    <ng-container matColumnDef="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vị trí cột </th>
      <td mat-cell *matCellDef="let row"> {{row.column}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Miêu tả </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>
