/* You can add global styles to this file, and also import other style files */

@import './scss/material';
@import './scss/main';
@import './scss/utils';
@import './scss/responsive';
@import './scss/variables';
@import './scss/theme';
