@use '@angular/material' as mat;

@font-face {
    font-family: 'Fontil Sans';
    src: url('../assets/fonts/FontinSans/Fontin_Sans_R.otf') format('opentype');
}

$custom-typography: mat.m2-define-typography-config(
    $font-family: 'Fontil Sans, monospace',
    $headline-1: mat.m2-define-typography-level(32px, 48px, 900),
    $headline-2: mat.m2-define-typography-level(28px, 44px, 700),
    $headline-3: mat.m2-define-typography-level(24px, 40px, 500),
    $headline-4: mat.m2-define-typography-level(20px, 36px, 300),
    $headline-5: mat.m2-define-typography-level(16px, 32px, 200),
    $headline-6: mat.m2-define-typography-level(12px, 28px, 100),
    $subtitle-1: mat.m2-define-typography-level(14px, 18px, 700), // Changed "bold" to 700
    $subtitle-2: mat.m2-define-typography-level(12px, 14px, 700), // Changed "bold" to 700
    $body-1: mat.m2-define-typography-level(16px, 24px, 500),
    $body-2: mat.m2-define-typography-level(14px, 20px, 300),
    $caption: mat.m2-define-typography-level(12px, 16px, 400),
    $button: mat.m2-define-typography-level(14px, 16px, 600),
    $overline: mat.m2-define-typography-level(10px, 16px, 400)
);
@include mat.all-component-typographies($custom-typography);




